/*
	Порядок сортировки CSS свойств
	1. Позиционирование
	2. Блочная модель
	3. Типографика
	4. Оформление
	5. Анимация
	6. Разное
*/

@font-face {
	font-family: "roboto";
	src: url(../fonts/roboto.woff);
	src: url(../fonts/roboto.woff2);
}

@font-face {
	font-family: "robotobold";
	src: url(../fonts/robotobold.woff);
	src: url(../fonts/robotobold.woff2);
}

@font-face {
	font-family: "robotomedium";
	src: url(../fonts/robotomedium.woff);
	src: url(../fonts/robotomedium.woff2);
}

input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "roboto", Arial, sans-serif;
	font-size: 14px;
	color: #000000;

	background-color: #849d8f;
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	margin: 0 auto;
	width: 1145px;
}

.button {
	display: flex;
	align-items: center;
	padding: 7px 15px;
	border: none;
	border-radius: 50px;

	color: #ffffff;
	font-size: 14px;
	font-family: "robotomedium";

	background-color: #ffffff40;
}

.button:hover {
	cursor: pointer;
}

.button__text {
	margin-left: 7px;
}

.button--rounded {
	padding: 7px;
}
.button--white {
	color: #000000;

	background-color: #ffffff;
}

.button--important {
	padding: 15px 40px;

	font-family: "robotobold";
	font-size: 32px;
	text-shadow: 0 2px 5px #00000070;

	background-color: #e74a35;
	box-shadow: 0 2px 5px #00000070;
}

.button--red {
	padding: 13px 20px;

	font-family: "robotobold";
	font-size: 18px;

	background-color: #f26843;
	background-color: #e74a35;
}

.button--align-end {
	align-self: flex-end;
}

.site-header {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	min-height: 64px;
}

.site-header__logo {
	margin-right: 22px;
}

.logo {
	display: flex;
}

.logo__image {
}

.site-header__site-navigation {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	margin-top: -5px;
	padding: 0;
	width: 500px;

	list-style: none;
}

.site-navigation li {
	margin-right: 28px;
}

.site-navigation__navigation-link {
	border-bottom: 1px solid #ffffff30;
	font-size: 16px;
	font-family: "robotobold";
	color: #ffffff;
}

.site-navigation__logo {
}

.site-header__user-navigation {
	display: flex;
	flex-wrap: wrap;
}

.user-navigation {
	margin: 0;
	margin-top: -5px;
	left: 0;

	list-style: none;
}

.user-navigation__button:not(:last-of-type) {
	margin-right: 10px;
}

.main-content {
}

.main-content__slider {
	display: flex;
	height: 600px;
}

.slider {
	display: flex;
	justify-content: space-between;
}

.slider__radio-inputs {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0;
	margin-bottom: 70px;
	padding: 0;
	width: 185px;

	list-style: none;
}

.slider__radio-wrapper {
	position: relative;

	height: 30px;
	width: 30px;
}

.slider__checkbox {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);

	height: 17px;
	width: 17px;

	border: 2px solid #ffffff;
	border-radius: 50%;
}

.slider__checkbox:hover {
	background-color: #ffffff30;

	cursor: pointer;
}

.slider__input {
}

.slider__input:focus + .slider__checkbox {
	border: 2px solid #000000;
}

.slider__input:checked + .slider__checkbox {
	background-color: #ffffff;
}

.slider__figure {
	position: relative;

	margin: 0;
	padding: 0;
}

.slider__image {
}

.slider__image-capture {
	position: absolute;
	top: 320px;
	left: 50%;
	transform: translate(-50%, 0);

	width: 700px;

	color: #ffffff;
	font-family: "robotobold";
	font-size: 60px;
	line-height: 55px;
	text-align: center;
}

.slider__button {
	position: absolute;
	bottom: 55px;
	left: 50%;
	transform: translate(-50%, 0);
}

.slider__schedule {
	font-family: "robotobold";
}

.slider__time {
	color: #ffffff;
	text-align: right;
}

.slider__phone {
	margin-top: 5px;

	font-size: 22px;
}

.slider__phone a {
	color: #ffffff;
}

.main-content__stock {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blog {
}

.blog__article {
}

.article--raspberry {
	background-image: url("../img/background-raspberry.jpg");
	background-repeat: no-repeat;
}

.article--chocolate {
	background-image: url("../img/background-chocolate.jpg");
	background-repeat: no-repeat;
}

.article {
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	padding: 20px;
	width: 520px;
	min-height: 185px;

	font-family: "robotobold";
	color: #ffffff;

	background-color: #505050;
}

.article__title {
	margin: 0;
	padding: 0;

	font-size: 34px;
}

.article__text {
	height: 55px;
	
	font-size: 18px;

	overflow-y: hidden;
}

.bestsellers {
	display: flex;
	flex-wrap: wrap;
}

.bestsellers__card {
}
.card {
}
.card__image {
}
.card__price {
}
.card__price-number {
}
.card__price-ruble {
}
.card__price-measure {
}
.card__image-caption {
}
.features {
}
.features__description {
}
.features__list {
}
.features__list-item {
}
.article__info {
}
.article__link {
}
.article__form {
}
.article__email-input {
}

.map {
	display: flex;
}

.map__image {
}
.map__form {
}
.map__text {
}
.map__bold-text {
}

.footer {
	display: flex;
	flex-wrap: wrap;
}

.footer__social {
}
.social {
}
.social__icon {
}
.footer__links {
}
.links {
}
.links__link {
}
.links__link-heart {
}
.footer__author {
}

.author {
	display: flex;
}

.author__link {
}
.author__text {
}
.author__name {
}
