/*
	Порядок сортировки CSS свойств
	1. Позиционирование
	2. Блочная модель
	3. Типографика
	4. Оформление
	5. Анимация
	6. Разное
*/

@font-face {
	font-family: "roboto";
	src: url(../fonts/roboto.woff);
	src: url(../fonts/roboto.woff2);
}

@font-face {
	font-family: "robotobold";
	src: url(../fonts/robotobold.woff);
	src: url(../fonts/robotobold.woff2);
}

@font-face {
	font-family: "robotomedium";
	src: url(../fonts/robotomedium.woff);
	src: url(../fonts/robotomedium.woff2);
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;

	background-color: #6b9994;
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	margin: 0 auto;
	width: calc(100vw - 80px);
}

.button {
	border: none;
	border-radius: 50px;

	color: #ffffff;
}

.button--translucent {
}
.button--important {
}
.button--red {
}

.site-header {
	display: flex;
}

.site-header__site-navigation {
	display: flex;
	flex-wrap: wrap;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
}

.site-navigation__navigation-link {
}
.site-navigation__logo {
}

.site-header__user-navigation {
	display: flex;
	flex-wrap: wrap;
}

.main-content {
}

.main-content__slider {
	display: flex;
}

.slider {
	display: flex;
}

.slider__radio-inputs {
	display: flex;
	flex-wrap: wrap;
}

.slider__radio {
}
.slider__figure {
}
.slider__image {
}
.slider__image-capture {
}
.slider__schedule {
}
.slider__time {
}
.slider__phone {
}

.blog {
	display: flex;
	flex-wrap: wrap;
}

.blog__article {
}
.article {
}
.article__title {
}
.article__text {
}

.bestsellers {
	display: flex;
	flex-wrap: wrap;
}

.bestsellers__card {
}
.card {
}
.card__image {
}
.card__price {
}
.card__price-number {
}
.card__price-ruble {
}
.card__price-measure {
}
.card__image-caption {
}
.features {
}
.features__description {
}
.features__list {
}
.features__list-item {
}
.article__info {
}
.article__link {
}
.article__form {
}
.article__email-input {
}

.map {
	display: flex;
}

.map__image {
}
.map__form {
}
.map__text {
}
.map__bold-text {
}

.footer {
	display: flex;
	flex-wrap: wrap;
}

.footer__social {
}
.social {
}
.social__icon {
}
.footer__links {
}
.links {
}
.links__link {
}
.links__link-heart {
}
.footer__author {
}

.author {
	display: flex;
}

.author__link {
}
.author__text {
}
.author__name {
}
